* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    margin: 70px auto;
    width: 300px;
    height: 400px;
    background-image: linear-gradient(rgba(128, 128, 128, 0.550),rgba(128, 128, 128, 0.550)) ,url(/card-image.jpg);
    background-size: cover;
    border-radius: 18px;
    /* border: 3px solid brown; */
}
.card-info {
    /* border: 2px solid blue; */
    height: 60%;
}

.card-heading {
    align-self: center;
}