* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap');

.parent-card {
    display: flex;
    width: 90vw;
    margin: auto;
    border: 2px solid black;
}

.child {
    border: 2px solid red;
}

.laptop-image {
    /* border: 2px solid green; */
    width: 620px;
}



.image {
    width: 100%;
}

.info {
    width: 620px;
}

.heading {
    padding: 10px;
    margin-top: 20px;
}

.heading-child {
    color: black;
    font-weight: 100;
    font-size: 24px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.info{
    display: flex;
    flex-direction: column;
}

.brand {
    font-size: 15px;
    color: rgb(83, 83, 83);
}

.brand-link {
    text-decoration: none;
}

.brand-link:hover {
    color: rgb(19, 18, 18);
}